@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@layer base {
  :root {
    /* Font already set in Tailwind config: font-sans -> Jost */

    /* Text */
    --text-primary: #3a4374;
    --text-muted: #647196;

    /* Backgrounds */
    --bg-page: #f7f8fd;
    --bg-card: #ffffff;

    /* Buttons */
    --btn-primary: #ad1fea;
    --btn-primary-hover: #c75af6;

    /* Status tags */
    --status-planned: #f49f85;
    --status-inprogress: #ad1fea;
    --status-live: #62bcfa;

    /* Borders */
    --border-header: #e5e5e5;
    --border-card: #cdd2ee;

    /* Badge */
    --badge-bg: #f2f4ff;
  }

  :root.dark {
    /* Text */
    --text-primary: #ffffff;
    --text-muted: #cdd2ee;

    /* Backgrounds */
    --bg-page: #121721;
    --bg-card: #1f2a38;

    /* Buttons */
    --btn-primary: #ad1fea;
    --btn-primary-hover: #c75af6;

    /* Status tags */
    --status-planned: #f49f85;
    --status-inprogress: #ad1fea;
    --status-live: #62bcfa;

    /* Borders */
    --border-header: #3b3b3b;
    --border-card: #3b3f51;

    /* Badge */
    --badge-bg: #2c2f3f;
  }
}
